In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/타이타닉/test.csv')
df.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
cols = ['Name', 'Sex', 'Age', 'Fare', 'Pclass', 'Embarked']
df = df[cols]
df.columns = ['성명', '성별', '나이', '요금', '등석', '항구']
df.head()

                                             성명      성별    나이       요금  등석 항구
0                              Kelly, Mr. James    male  34.5   7.8292   3  Q
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0   7.0000   3  S
2                     Myles, Mr. Thomas Francis    male  62.0   9.6875   2  Q
3                              Wirz, Mr. Albert    male  27.0   8.6625   3  S
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0  12.2875   3  S