In [ ]:
import pandas as pd
df = pd.read_csv('train.csv')

import matplotlib.pyplot as plt

plt.rc('font', family = 'Malgun Gothic')
plt.rc('font', size = 10)
plt.rc('axes', unicode_minus= False)

In [15]:
df.groupby('Survived').size()

Survived
0    549
1    342
dtype: int64

In [6]:
df.groupby('Sex').size()

Sex
female    314
male      577
dtype: int64

In [7]:
df.groupby('Pclass').size()

Pclass
1    216
2    184
3    491
dtype: int64

In [19]:
df.groupby('SibSp').size().to_frame('동승자')

       동승자
SibSp
0      608
1      209
2       28
3       16
4       18
5        5
8        7