In [1]:
import pandas as pd
df = pd.read_csv('data/score.csv', index_col='지원번호')

import matplotlib.pyplot as plt

plt.rc('font', family = 'Malgun Gothic')
plt.rc('font', size = 10)
plt.rc('axes', unicode_minus= False)

In [2]:
#학생별 평균점수
enroll = pd.read_csv('data/수강.csv')
group = enroll.groupby('학생번호')['점수'].mean().to_frame()
group

                 점수
학생번호
92414029  81.250000
92414033  82.500000
92454018  90.000000
92514009  77.500000
92514023  70.000000
95414058  83.333333
95454003  81.000000
96414404  75.000000